*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
figure,
dl,
dd,
blockquote {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[role="list"],
ol[role="list"] {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
select,
button,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.icon--logo-bookmark {
  width: 128px;
  height: 25px;
}

.icon--bg-dots {
  width: 280px;
  height: 4px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
}

.overlay.open {
  opacity: 1;
  pointer-events: all;
}

/* Start */

body {
  font-family: var(--ff-ss);
  font-weight: var(--fw-400);
  text-align: center;
}

.hidden {
  display: none;
}

.split {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: var(--dir, column);
}

.container {
  max-width: 650px;
  padding: 0 2rem;
}

section {
  margin-top: 3em;
}

.flow > * + * {
  /* set default flow size, set to different size where needed */
  margin-top: var(--fl, 1.5em);
}

.btn-blue {
  background-color: var(--clr-primary);
  color: white;
}

.btn-white {
  background-color: var(--clr-neutral-300);
  color: var(--clr-neutral-500);
}

.btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding: 0.75em 1.5em;
  border-radius: var(--br);
}

.header {
  --dir: row;
  padding-top: 2em;
  padding-bottom: 1em;
}

.hero {
  --dir: column-reverse;
}

.hero .cta-buttons {
  --dir: row;
}
