<div class="contact container">
  <div class="contact-text flow">
    <p>35,000+ already joined</p>
    <h2>Stay up-to-date with what we’re doing</h2>
  </div>
  <form class="contact-form" action="" class="flow">
    <div class="form-group">
      <!-- Handle email validation with JS -->
      <input
        type="text"
        name="email"
        id="email"
        placeholder="example@email.com"
        class="error"
      />
      <p class="error-message bg-red" hidden>Whoops, make sure it is email</p>
    </div>
    <label class="sr-only" for="email">Email</label>
    <button type="submit" class="btn bg-red">Contact Us</button>
  </form>
</div>
