<header class="flow section-header">
  <h2>Features</h2>
  <p>
    Our aim is to make it quick and easy for you to access your favourite
    websites. Your bookmarks sync between your devices so you can access them on
    the go.
  </p>
</header>

<div class="tabs flow">
  <div class="tab-buttons split" role="tablist" aria-label="Feature Tabs">
    <button aria-selected="true" aria-controls="panel-1" id="tab-1" role="tab">
      Simple Bookmarking
    </button>
    <button aria-selected="false" aria-controls="panel-2" id="tab-2" role="tab">
      Speedy Searching
    </button>
    <button aria-selected="false" aria-controls="panel-3" id="tab-3" role="tab">
      Easy Sharing
    </button>
  </div>
  <div class="panel split" id="panel-1" role="tabpanel" aria-labelledby="tab-1">
    <div class="illustration">
      <div>
        <img
          src="./assets/images/illustration-features-tab-1.svg"
          alt="pc desktop"
        />
      </div>
    </div>
    <div class="text-box flow">
      <h3>Bookmark in one click</h3>
      <p>
        Organize your bookmarks however you like. Our simple drag-and-drop
        interface gives you complete control over how you manage your favourite
        sites.
      </p>
      <a href="#" class="btn bg-blue">More Info</a>
    </div>
  </div>
  <div
    class="panel split"
    id="panel-2"
    role="tabpanel"
    aria-labelledby="tab-2"
    hidden
  >
    <div class="illustration">
      <div>
        <img
          src="./assets/images/illustration-features-tab-2.svg"
          alt="pc desktop"
        />
      </div>
    </div>
    <div class="text-box flow">
      <h3>Intelligent Search</h3>
      <p>
        Our powerful search feature will help you find saved sites in no time at
        all. No need to trawl through all of your bookmarks.
      </p>
      <a href="#" class="btn bg-blue">More Info</a>
    </div>
  </div>
  <div
    class="panel split"
    id="panel-3"
    role="tabpanel"
    aria-labelledby="tab-3"
    hidden
  >
    <div class="illustration">
      <div>
        <img
          src="./assets/images/illustration-features-tab-3.svg"
          alt="pc desktop"
        />
      </div>
    </div>
    <div class="text-box flow">
      <h3>Share your bookmarks</h3>
      <p>
        Easily share your bookmarks and collections with others. Create a
        shareable link that you can send at the click of a button.
      </p>
      <a href="#" class="btn bg-blue">More Info</a>
    </div>
  </div>
</div>
