<div class="logo">{% icon "logo-bookmark" %}</div>

<nav class="primary-nav">
  <ul role="list" class="split">
    <li><a href="#features">features</a></li>
    <li><a href="#pricing">pricing</a></li>
    <li><a href="#contact">contact</a></li>
    <li><a class="btn bg-red" href="#">Login</a></li>
  </ul>
</nav>
<button class="open-nav-button">
  <span class="sr-only">Open mobile navigation</span>
  {% icon "icon-hamburger" %}
</button>
