<div class="text-box flow">
  <h1>A Simple Bookmark Manager</h1>
  <p>
    A clean and simple interface to organize your favourite websites. Open a new
    browser tab and see your sites load instantly. Try it for free.
  </p>
  <div class="split cta-buttons">
    <a href="#" class="btn google bg-blue">Get it on Chrome</a>
    <a href="#" class="btn firefox bg-white">Get it on Firefox</a>
  </div>
</div>
<div class="illustration">
  <div>
    <img src="./assets/images/illustration-hero.svg" alt="pc desktop" />
  </div>
</div>
