//--------------------
// SCSS VARIABLES
//--------------------

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$breakpoints: (
  md: 670px,
  lg: 940px,
  xl: 1260px,
);

:root {
  --ff-ss: "Rubik", sans-serif;

  --fw-400: 400;
  --fw-500: 500;

  --clr-primary: hsl(231, 69%, 60%);
  --clr-secondary: hsl(0, 94%, 66%);

  --clr-neutral-400: hsl(229, 8%, 60%);
  --clr-neutral-500: hsl(229, 31%, 21%);

  --box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
}
