---
layout: base
---

{% include "nav-overlay.njk" %}

<header class="header split container">{% include "header.njk" %}</header>

<section class="hero container split">{% include "hero.njk" %}</section>

<section id="features" class="features container flow">
  {% include "features.njk" %}
</section>

<section id="pricing" class="cta container flow">
  {% include "cta.njk" %}
</section>

<section class="faq container">{% include "faq.njk" %}</section>

<section id="contact" class="bg-blue">{% include "contact.njk" %}</section>

<footer class="bg-dark">{% include "footer.njk" %}</footer>
