.contact {
  padding-top: 2em;
  padding-bottom: 2em;

  h2 {
    color: inherit;
  }

  p {
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  .form-group {
    position: relative;
  }

  .error-message {
    letter-spacing: unset;
    text-align: left;
    font-size: 0.9rem;
    padding: 0.5em;
    border-bottom-left-radius: var(--br);
    border-bottom-right-radius: var(--br);

    @include mq(lg) {
      position: absolute;
      bottom: -36px;
      left: 0;
    }
  }

  .btn {
    margin-top: 1em;
  }

  .contact-text {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    --fl: 0.5em;
  }

  .contact-form {
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;

    @include mq(lg) {
      display: flex;
      // align-items: center;

      > div {
        flex-basis: 200%;
      }

      > button {
        margin-top: 0;
      }

      > * + * {
        margin-left: 0.7em;
      }
    }

    input,
    button {
      width: 100%;
    }

    button:hover {
      background-color: white;
      color: var(--clr-secondary);
      --border-color: var(--clr-secondary);
    }

    input {
      padding: 0.5em;
      border-radius: var(--br);
    }

    input.error {
      border: 2px solid var(--clr-secondary);
      border-radius: var(--br) var(--br) 0 0;
    }
  }
}
